$colorMainFondo: linear-gradient(180deg, rgb(252, 164, 154) 0%, rgb(170, 234, 245) 10%, rgb(170, 234, 245) 90%, rgb(252, 164, 154) 100%);
$colorHeadFooter:rgb(252, 164, 154);
$colorNavSelect: teal; 
$colorTextos: teal;
$colorTitPrinc:indianred;
$testVar:"welcome";